.footerNewClass {
    position: absolute;
    /* position: fixed; */
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-top: 100px;
}

.mainBodyNewPadding {
    padding-bottom: 70px;
}

.fixedImage {
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.fixedImage img {
    object-fit: cover !important;
}

.centerImg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userDetailsPage .form-group:not(:last-child) {
    margin-bottom: 15px;
}

.userDetailsPage .form-group label:first-child {
    font-weight: 700;
    color: #222121c2;
}

.signInHeading {
    margin-top: 25px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Alert */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.alert.hide {
    opacity: 0;
}

.new-checkbox-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb {
    margin-bottom: 0px !important;
}

.profile-image {
    object-fit: contain;
}

/* .imageSize {
    max-height: 65px;
    height: 65px;
    justify-content: center;
    width: 100%;
}

.imageSize img {
    height: 100%;
    display: inline-block;
    float: left;
}

.imageContainer {
    padding-top: 7px;
    padding-bottom: 7px;
} */

.tinymce {
    height: 150px !important;
}

.passwordeye {
    margin-top: 9px;
}

.centerImg img {
    width: 150px;
}

.checkbox-area input[type="checkbox"]:not(:checked)+span {
    border: 1px solid #718096; /* Set your desired border color and size */
}